<!DOCTYPE html>


<html>
    <head>
        <meta charset="utf-8" />
        <meta name ="viewport" content="width=device-width initial-scale=1" />
        <script src="../static/userAuth.js"></script>
        <meta name="google-signin-client_id"
    content="1085787602715-efthg533porv8g4l3p2p912gra4eea5g.apps.googleusercontent.com">
        <!-- Bootstrap CSS -->
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
        <!-- Optional JavaScript -->
        <!-- jQuery first, then Popper.js, then Bootstrap JS -->
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
        <script src="https://apis.google.com/js/platform.js?onload=onLoadCallback" defer></script>

        

        <title>{% block title %} Home {% endblock %}</title>

    </head>

    <body onload= "login_check();"> <!--onload="login_check();"-->
        
        <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
            <!--
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbar">
                <span class="navbar-toggler-icon"></span>           
            </button>
            -->
            <div class ="navbar-collapse" id="navbar">

                    <a class="navbar-brand" href="#">
                        <img src="../static/images/fishrfriendswhite.png" style="width: 40px; height: 40px;">
                    </a>
                <ul class="navbar-nav">
                    <li class="nav-item">
                        <a class="nav-item nav-link" id="Home" href="/home">Home</a>
                    </li>
            </div>
            <ul class="navbar-nav">
                <li>
                    <a class="nav-item nav-link" id="logout" href="#" onclick="signOut()">Log Out</a>
                </li>
            </ul>
            </div>
        </nav>
        {% with messages = get_flashed_messages(with_categories= true) %}
        {%if messages %}
            {% for category, message in messages %}
                {% if category =='error' %}
                <div class="alert alert-danger alter-dismissable fade show" role ="alert">
                    {{message}}
                    <button type="button" class="close" data-dismiss="alert">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                {% else %}
                <div class="alert alert-success alter-dismissable fade show" role ="alert">
                    {{message}}
                    <button type="button" class="close" data-dismiss="alert">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                {% endif %}
            {% endfor %}
        {% endif %}
        {% endwith %}
        <div class = "container">
            {%block content %} {% endblock %}
        </div>
        <!-- Optional JavaScript -->
        <!-- 
        <script 
        src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" 
        integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" 
        crossorigin="anonymous">
        </script>
        <script 
        src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" 
        integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" 
        crossorigin="anonymous">
        </script>
        <script 
        src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js">
        </script>
        jQuery first, then Popper.js, then Bootstrap JS -->

        <!-- this line allows us to link to a index.js -->
        <script
         type = "text/javascript"
         src ="{{url_for('static', filename='index.js')}}"
        ></script>

    </body>

        <script>
            window.onLoadCallback = function(){
                gapi.load('auth2', function() {
                    gapi.auth2.init();
                  });
              }

            function signOut() {
                var auth2 = gapi.auth2.getAuthInstance();
                sessionStorage.setItem('login_status', 'unsuccessful');
                auth2.signOut().then(function () {
                    console.log('User signed out.');
                    
                    location.replace("/")
                });
                console.log("logout got problem")
            }

            function login_check() {              
                let status = sessionStorage.getItem('login_status');
                console.log(status);
                let name = sessionStorage.getItem('name');
                console.log(name);
                if (status != 'successful'){
                    location.replace("/")
                }
            }

        </script>
</html>