{% extends "base.html" %}
{% block title %} Paypal Checkout {% endblock %}
{%block content%} 

<!-- This script tag is the payment id of the merchant in out case the FISHRFRIENDS Enterprise -->
<script src="https://www.paypal.com/sdk/js?client-id=AeKkXHKQFzgRzsn8DD3p0MXMZbQN86DaBS9YUDCv5pvbP8r7j6tSiYpyIo6u9yzkm6qe0dN0yWvxWC20"> // Replace YOUR_CLIENT_ID with your sandbox client ID
</script>
<script src="https://unpkg.com/axios/dist/axios.min.js"></script>
<div style="margin:30px">
<h1>The total price is ${{data['price']}}</h1>
  <h3>The breakdown is as shown below:</h3>
</div>
<p hidden id = 'hidden-dollars'>{{data['price']}}</p>
<table class="table table-bordered">
  <thead>
    <tr>
      <th scope="col">Fish ID</th>
      <th scope="col">Quantity</th>
      <th scope="col">Price</th>
    </tr>
  </thead>
  <tbody>
    {% for fishes in data['orders'] %}
    {% if fishes.quantity != '0' %}
    <tr>
      <td class="fishid">{{fishes.fish_id}}</td>
      <td class="quantity">{{fishes.quantity}}</td>
      <td class="price">{{fishes.price}}</td>
    </tr>
    {% endif %}
    {% endfor %}

  </tbody>
</table>
<div style = "margin:20px">
  <label for="collection_datetime">Choose a time for your collection:       </label>

  <input type="datetime-local" id="collection_datetime"
         name="collection_datetime" value="2021-04-02T19:30">
</div>

<div class ='d-flex justify-content-center'>
<div id="paypal-button-container">
<style>
    .cardshadow {
    /* Add shadows to create the "card" effect */
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
    }

    /* On mouse-over, add a deeper shadow */
    .cardshadow:hover {
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
    }

    

</style>

<div class="d-flex justify-content-center p-1">
    <div class="card cardshadow text-center m-5" style="min-width: 400px;">
        <div class="card-body mt-5">
          <h2 id = "oldPrice">Total cost: ${{data['price']}}</h2>
          <h2 style ='display : none' id="newPrice" class="alert alert-success"></h2>
          <h4 style ='display : none' id="fail" class="alert alert-danger">The promo is not valid :(</h4>
        </div>
      <div class="d-flex justify-content-center m-3">
        <div id="paypal-button-container">
        </div>
      </div>
    </div>
</div>


  <h5 id = "add_new">Enter your promo code</h5>
  <div class = 'row'>
  <div class =" col-9 form-group ">
      <input 
          type="Text"
          class="form-control"
          id="promotion_code"
          name="promotion_code"
          placeholder="Enter code"
      >
  </div>
  <div class =" col-3 d-flex justify-content-center">
  <button type ="button" class="btn btn-primary btn-block" id = "click" onclick="getPromo()"> Submit Promo </button>
  </div>
</div>

<br>
</div>
</div>
<!-- Add the checkout buttons, set up the order and approve the order -->

<script>
  var oldPrice = {{data['price']|safe}};
  var total_price = document.getElementById('hidden-dollars').innerHTML;
  var collection_datetime = document.getElementById('collection_datetime');
  var final_final = oldPrice;
  var now = new Date();
  currentHours = ("0" + now.getHours()).slice(-2);
  currentMinutes = ("0" + now.getMinutes()).slice(-2);
  currentMonth = ("0" + now.getMonth()).slice(-2);
  currentDay = ("0" + now.getDate()).slice(-2);
  collection_datetime.setAttribute('min', now.getFullYear() + "-" + currentMonth + "-" + currentDay + "T" + currentHours + ":" + currentMinutes);
  collection_datetime.setAttribute('value', now.getFullYear() + "-" + currentMonth + "-" + currentDay + "T" + currentHours + ":" + currentMinutes);
  now.setDate(now.getDate() + 24 * 14);
  currentMonth = ("0" + now.getMonth()).slice(-2);
  currentDay = ("0" + now.getDate()).slice(-2);
  collection_datetime.setAttribute('max', now.getFullYear() + "-" + currentMonth + "-" + currentDay + "T" + currentHours + ":" + currentMinutes);

 // managePayment({{data|safe}});

  paypal.Buttons({
    createOrder: function(data, actions) {
      return actions.order.create({
        purchase_units: [{
          amount: {
            value: Math.round(final_final*100)/100
          }
        }]
      });
    },
    onApprove: function(data, actions) {
      return actions.order.capture().then(function(details) {
        managePayment({{data|safe}})
        alert('Transaction completed by ' + details.payer.name.given_name);

        window.location.replace("/confirm");
      });
    }
  }).render('#paypal-button-container'); // Display payment options on your web page

  function managePayment(data) {
    const url = `http://localhost:5005/payment_manage`;
    var dateAndTime = collection_datetime.value.split('T');
    var order_items = []
    for (item of data['orders']) {
      if (item['quantity'] != 0) {
        order_items.push(item);
      }
    }
    var payment_manage_json = {
      "amount" : Math.round(final_final*100)/100,
      "order_items" : order_items,
      "collection_datetime" : dateAndTime[0] + " " + dateAndTime[1],
      "username" : sessionStorage.getItem("email")
    }
    console.log(payment_manage_json);
    axios.post(url,payment_manage_json)
    .then((response) => {
      console.log(response);
      sessionStorage.setItem("amount",Math.round(final_final*100)/100)
      sessionStorage.setItem("order_items", JSON.stringify(order_items))
      sessionStorage.setItem("collection_datetime",payment_manage_json["collection_datetime"])
      
    })
    .catch(function (error){
      console.log(error.response);
    })
   
  }

  function getPromo(){
    var promo = document.getElementById('promotion_code').value;
    const url = `http://localhost:5004/promotion/`+promo;
    axios.get(url)
    .then(function (response) {
      // handle success
      console.log(response.data);
      console.log(response.data['data']['discount']);
      document.getElementById("newPrice").innerHTML = "Discounted Amount: $";
      document.getElementById("newPrice").innerHTML += Math.round((100 - response.data['data']['discount']) / 100 * oldPrice);
      final_final = (100 - response.data['data']['discount']) / 100 * oldPrice;
      document.getElementById('newPrice').style.display = "block";
      document.getElementById("oldPrice").style.textDecoration = "line-through";
      console.log(response);
      document.getElementById('fail').style.display = "none";
    })
    .catch(function (error) {
      // handle error
      document.getElementById('fail').style.display = "block";
      console.log(error.response)
      console.log(error);
      document.getElementById('newPrice').style.display = "none";
      document.getElementById("oldPrice").style.textDecoration = "";
      final_final =oldPrice;
    })
    .then(function () {
      console.log("executed")
      // always executed
    });
  }

  var node = document.getElementById("promotion_code");
  node.addEventListener("keyup", function(event){
    if (event.keyCode===13) {
      event.preventDefault();
      document.getElementById("click").click();
  }
  });
 
</script>


{% endblock %}
