<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width">

    <title>FISHRFRIENDS</title>

    <link rel="stylesheet" href="">
    <!--[if lt IE 9]>
      <script src="//html5shiv.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->
    <!-- Bootstrap libraries -->
    <meta name="viewport" 
        content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet"
    href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css"
    integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" 
    crossorigin="anonymous">

    <!-- Latest compiled and minified JavaScript -->
    <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
    <script 
    src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>

    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    
    <script
    src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.6/umd/popper.min.js"
    integrity="sha384-wHAiFfRlMFy6i5SRaxvfOCifBUQy1xHdJ/yoi7FRNXMRBu5WHdZYu1hA6ZOblgut"
    crossorigin="anonymous"></script>
    
    <script 
    src="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/js/bootstrap.min.js"
    integrity="sha384-B0UglyR+jN6CkvvICOB2joaf5I4l3gm9GU6Hc1og6Ls7i6U/mkkaduKaBhlAXv9k"
    crossorigin="anonymous"></script>
</head>
<body>
    <div id="main-container" class="container">
        <h1 class="display-4">Fish Listing</h1>
        <table id="fishTable" class='table table-striped' border='1'>
            <thead class='thead-bright'>
                <tr>
                    <th>Fish</th>
                    <th>Description</th>
                    <th>Available Quantity</th>
                    <th>Selected Quantity</th>
                </tr>
            </thead>
        </table>
        <a id="purchaseFish" class="btn btn-primary" 
     href="home.html">GO Back Home!</a>
    </div>
    <script>
        // Helper function to display error message
        function showError(message) {
            // Hide the table and button in the event of error
            $('#fishTable').hide();
            $('#purchaseFish').hide();
    
            // Display an error under the main container
            $('#main-container')
                .append("<label>"+message+"</label>");
        }
    
        // anonymous async function 
        // - using await requires the function that calls it to be async
        $(async() => {           
            // Change serviceURL to your own
            var serviceURL = "http://127.0.0.1:5000/fish";
    
            try {
                const response =
                 await fetch(
                   serviceURL, { method: 'GET' }
                );
                const result = await response.json();
                 if (response.status === 200) {
                    // success case
                    var fishes = result.data.fishes; //the array is in books within data of 
                                                   // the returned result
                    // for loop to setup all table rows with obtained book data
                    var rows = "";
                    for (const fish of fishes) {
                       eachRow ="<td>" + fish.fishname + "</td>" +
                                "<td>" + fish.description + "</td>" +
                                "<td>" + fish.stock_qty + "</td>" + 
                                "<td>" + `<input type = "number" id = "selectedQty"></input>` + " " + `<button type="button" class="btn btn-info">Add to cart</button>`+ "</td>";
                       rows += "<tbody><tr>" + eachRow + "</tr></tbody>";
                    }
                    // add all the rows to the table
                    $('#fishTable').append(rows);
                } else if (response.status == 404) {
                    // No books
                    showError(result.message);
                } else {
                    // unexpected outcome, throw the error
                    throw response.status;
                }
            } catch (error) {
                // Errors when calling the service; such as network error, 
                // service offline, etc
                showError
    ('There is a problem retrieving fish data, please try again later.<br />' + error);
            } // error
    });
     
</script>

</body>

</html>
