{% extends "base.html" %}
{% block title %} Home {% endblock %}
{%block content%} 
<style>
    p1 {text-align: center;
    }
    .containercenter {
        display: flex;
        justify-content: center;
        margin-top: 100px;
    }   
</style>


<div>
    <h1 class="containercenter">Welcome to FISH R FRIENDS</h1>
</div>

<!-- If there is fish, will run page -->
{% if datacode == 200 %}
{{fishes}}
{{data}}


<div class="card-deck">
    {%for fish in fishes%}
    {% set name = 'images/' + fish['fishname'] + '.png' %}
    {% set countid = fish['fish_id'] %}
    
    <div class="card">
      <img class="card-img-top" src={{ url_for('static', filename = name) }} alt="Card image cap">
      <div class="card-body">
        <h5 class="card-title">{{fish[fishname]}}</h5>
        <p class="card-text">{{fish['description']}} {{fish['stock_qty']}}</p>
        <a href="#" class="btn btn-primary">{{id}}</a>
        <button onclick="myfunction('{{countid}}','{{fish.stock_qty}}')" >Click</button>
        <p class="price">{{fish.price}}</p>
        <p class = "quantity" id= {{countid}} >0</p>
      </div>
    </div>

    {% endfor%}

</div>

    {% set price_array =[] %}

    {% for fish in fishes %}
        {{price_array.append(fish.price)}}
    {% endfor %}

    {{price_array}}

<button onclick="calculate()" >calculate</button>

{% else %}

<!--If no fish in database-->
<div class="containercenter">
        <img src="../static/images/outofstock.png">
</div>

<p class="containercenter" style="font-size:30px;">
    All our fishes are out of stock!
</p>
<p class="containercenter" style="font-size:20px;">
    Our fishermen have headed out to sea to catch more fish, please come back again at a later time!
</p>

{%endif%}

<p id = "result"></p>



<script>
    

    function calculate(){
        console.log();
        let priceList = document.getElementsByClassName("price");
        let countList = document.getElementsByClassName("quantity");

        var total = 0;
        for( i =0; i < priceList.length ; i++){
                total += parseInt(countList[i].innerHTML) * parseFloat(priceList[i].innerHTML);
        }
        document.getElementById('result').innerHTML = total;
    }
    //var button = document.getElementById('1'), count = 0 ;
    function myfunction(x,y){
        count = document.getElementById(x).innerHTML;
        count = parseInt(count)
        if(count+1 <= parseInt(y)){
            console.log(count)
            count += 1;
        }
        document.getElementById(x).innerHTML=count;
    };

</script>

{% endblock %}
