{% extends "base.html" %}
{% block title %} Home {% endblock %}
{%block content%} 


<style>
    p1 {text-align: center;
    }
    .containercenter {
    /* Make elements centered */
        display: flex;
        justify-content: center;
        margin-top: 100px;
    }   

    .card {
    /* Set max width of card */
    min-width: 200px;
    max-width: 300px;
    }

    .cardshadow {
    /* Add shadows to create the "card" effect */
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
    }

    /* On mouse-over, add a deeper shadow */
    .cardshadow:hover {
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
    }
    .card-img-top {
    width: 100%;
    height: 15vw;
    object-fit: cover;
    }   
</style>


<div>
    <h1 class="containercenter">Welcome to FISH 'R' FRIENDS!</h1>
</div>

<!-- If there is fish, will run page -->
{% if datacode == 200 %}
<div class= "containercenter" style="padding-left: 100px; padding-right: 100px">
    <input type="text" class ="form-control mr-sm-2" id="myInput" onkeyup="fishFilter()" placeholder="Search Fish by Fish Name">
</div>


<div id="allfishes" class="card-deck" style="margin-top: 80px;">
    {%for fish in fishes%}
    {% if fish['stock_qty'] > 0 %}
    {% set name = 'images/' + fish['fishname'] + '.png' %}
    {% set countid = fish['fish_id'] %}
    
    <div class="card cardshadow border-light onefish">
        <p hidden class="fishid">{{fish['fish_id']}}</p>
      <img class="card-img-top" src={{ url_for('static', filename = name) }} alt="Card image cap">
      <div class="card-body">
        <h5 class="card-title">{{fish['fishname']}}</h5>
        <p class="card-text">
            <span style="font-style: italic">{{fish['description']}} </span>
            </br>
            <p>
                <b>Price:$</b>
                <span class="price">{{fish.price}}</span>
            </p>
                <b>Stock:</b> {{fish['stock_qty']}}
            </br>

        </p>

        <div>
            <button type ="button" class="btn btn-dark btn-block" onclick="addItem('{{countid}}','{{fish.stock_qty}}')" >Add to cart</button>
        </div>
        </br> 
            <p style="text-align: center">Item in cart:
            <span class = "quantity" id= {{countid}} >0</span>
            </p>
      </div>
    </div>
    {% endif %}
    {% endfor %}

</div>

<div style="margin-bottom: 40px; margin-top: 30px">
    <p style="text-align: right; font-size: 30px;">
        Total Price: $<span id = "result" >0</span>
    </p>
    </br>
    <button class="btn btn-dark btn-lg" style="float: right;" onclick="calculate()" >Calculate Total Price</button>
</div>

<div style="margin-bottom: 50px; margin-top: 50px; padding-top: 50px; padding-bottom:50px">
    <form action="/checkout" method="POST">
    <input type = "hidden" name = "Name" id='secret-json'/>
    <button class="btn btn-primary btn-lg" style="float: right;" onclick="checkout()" type="submit" value="orders">Checkout</button>
    </form>
</div>

<div'>
    <p id ='hidden-table'></p>
</div>



{% else %}

<!--If no fish in database-->
<div class="containercenter">
        <img src="../static/images/outofstock.png">
</div>

<p class="containercenter" style="font-size:30px;">
    All our fishes are out of stock!
</p>
<p class="containercenter" style="font-size:20px;">
    Our fishermen have headed out to sea to catch more fish, please come back again at a later time!
</p>

{%endif%}

<script>

    function calculate(){

        let priceList = document.getElementsByClassName("price");
        let countList = document.getElementsByClassName("quantity");
        let fishList = document.getElementsByClassName("fishid");

        var total = 0;
        for( i = 0; i < priceList.length ; i++){
            total += parseInt(countList[i].innerHTML) * parseFloat(priceList[i].innerHTML);
        }
        document.getElementById('result').innerHTML = total;
    }

    function checkout(){
        let priceList = document.getElementsByClassName("price");
        let fishList = document.getElementsByClassName("fishid");
        let countList = document.getElementsByClassName("quantity");
        var checkout_json = {
            'price': 0,
            'orders' : []
        }
        var total = 0;
        for( i = 0; i < priceList.length ; i++){
            var string = {};
            string['fish_id'] = "" + parseInt(fishList[i].innerHTML)  ;
            string['quantity'] = "" + parseInt(countList[i].innerHTML);
            string['price'] = "" + parseInt(priceList[i].innerHTML);           
            total += parseInt(countList[i].innerHTML) * parseFloat(priceList[i].innerHTML);
            checkout_json['orders'].push(string);
        }
        checkout_json['price']  = total;


        
        //JSON string to send to checkout
        //console.log(string);
        //document.getElementById("orders").value = string;
        console.log(checkout_json);
        document.getElementById("secret-json").value = JSON.stringify(checkout_json);

        }
    
    function addItem(x,y){
        count = document.getElementById(x).innerHTML;
        count = parseInt(count)
        if(count+1 <= parseInt(y)){
            count += 1;
        }
        document.getElementById(x).innerHTML=count;
    };

    // Displays or hides cards base on search bar filter
    function fishFilter() {
  
        var input, filter, ul, li, a, i, txtValue;
        input = document.getElementById('myInput');
        filter = input.value;
        ul = document.getElementById("allfishes");
        li = ul.getElementsByClassName('onefish');

        // Loop through all list items, and hide those who don't match the search query
        for (i = 0; i < li.length; i++) {
            if (li[i].getElementsByTagName("h5")[0].innerHTML.indexOf(filter) > -1) {
                li[i].style.display = "";
            } else {
            li[i].style.display = "none";
            }
        }    
}
    
</script>

{% endblock %}