{% extends "staff_base.html" %}
{% block title %} Manage FISH R FRIENDS{% endblock %}

{%block content%}
<script src="https://unpkg.com/axios/dist/axios.min.js"></script>
{%if None in data_list%}

    this is an error we will be working on it!

{%else%}
{% set orders = data_list[0] %}
{% set fishes = data_list[1] %}
{% set promos = data_list[2] %}

{%set fishname_list =[]%}
{% for content in fishes['data']['fishes'] %}
    {% do fishname_list.append(content.fish_id) %}
{% endfor %}
<h1 class="text-center mt-4">At A Glance</h1>
<table aria-describedby="Order-Table" class="table table-striped table-hover text-center m-5">
    <thead>
        <th colspan="5"><b><h3>Order Table</h3></b></th>
    </thead>  
    <thead class="thead-dark">
      <tr>
        <th scope="col">Id</th>
        <th scope="col">Total Price</th>
        <th scope="col">Item Breakdown</th>
        <th scope="col">Ordered By</th>
        <th scope="col">Collection Time</th>
      </tr>
    </thead>
    <tbody>
    {% for content in orders['data']['orders'] %}
      <tr>
        <th scope="row">{{content.fish_order_id}}</th>
        <td>${{content.amount}}</td>
        <td>
            {%for fishes_details in content.order_items%}
            <span class="font-weight-bold">{{fishes_details['fish_id']}} - {{fishes_details.quantity}} units </span>
            <br>
            {%endfor%}
        </td>
        <td>{{content.username}}</td>
        <td>{{content.collection_datetime}}</td>
      </tr>
    {% endfor %}
    </tbody>
</table>
        <br>
<table aria-describedby="Fish-Table" class="table table-stripede table-hover text-center m-5">
    <thead>
        <th colspan="4"><b><h3>Fish Table</h3></b></th>
    </thead>

    <tr class = "thead-dark">
        <th scope="col">Name</th>
        <th scope="col">Price</th>
        <th scope="col">Quantity</th>
        <th scope="col">Add Stock</th>
    </tr>

    <tbody>
    {% for content in fishes['data']['fishes'] %}
    <tr>
        <th scope="row" class = "fishId">{{content.fish_id}}</th>
        <td>${{content.price}}</td>
        <td>{{content.stock_qty}}</td>
        <td><input type ="number" class = "addFishStock" value ='0'></td>
    </tr>
    {% endfor %}
    </tbody>
</table>
<button type = "button" onclick="deductStock()" class = "btn btn-danger ml-5 btn-block" >Deduct Stock!</button>
<button type = "button" onclick="addStock()" class = "btn btn-primary ml-5 btn-block" >Add Stock!</button>
        <br>
<table class="table table-striped table-hover text-center m-5">
    
    <thead>
        <th colspan="4"><b><h3>Promotion Code Table</h3></b></th>
    </thead>
    <tr class="thead-dark">
        <th scope="col">Code</th>
        <th scope="col">Discount</th>
    </tr>
    <tbody>
    {% for content in promos['data']['promotions'] %}
        <tr>
        <th scope="row">{{content.promotion_code}}</th>
        <td>{{content.discount}}%</td>
        </tr>
    {% endfor %}
    </tbody>
</table>

<button type="button" class ="btn btn-primary ml-5 btn-block" onclick='promoManage()'>Edit Promotion Codes</button>
        

{%endif%}

<script>
    function addStock() {
        var stockList = document.getElementsByClassName("addFishStock");
        var fishIdList = document.getElementsByClassName("fishId");
        var stockJson = []
        for (var i = 0; i < stockList.length; i++) {
            stockJson.push(
                {
                    "fish_id" : fishIdList[i].innerHTML,
                    "quantity" : stockList[i].value
                }
            )
        }

        axios.put(`http://localhost:5000/fish/add`, stockJson).then((response) => {
            if (response.status > 199 && response.status < 300) {
                alert("Stocks successfully added!")
                location.reload()
              } else {
                alert("Unsuccessful!")
              }
        }).catch(function (error) {
            // handle error
            console.log('Error in adding fish!')
          })

    }

    function deductStock() {
        var stockList = document.getElementsByClassName("addFishStock");
        var fishIdList = document.getElementsByClassName("fishId");
        var stockJson = []
        for (var i = 0; i < stockList.length; i++) {
            stockJson.push(
                {
                    "fish_id" : fishIdList[i].innerHTML,
                    "quantity" : stockList[i].value
                }
            )
        }

        axios.put(`http://localhost:5000/fish/deduct`, stockJson).then((response) => {
            if (response.status > 199 && response.status < 300) {
                alert("Stocks successfully deducted!")
                location.reload()
              } else {
                alert("Unsuccessful!")
              }
        }).catch(function (error) {
            // handle error
            console.log('Error in deduct fish!')
          })

    }
    function promoManage() {
        location.replace("/promomod")
    }
</script>
{%endblock%}

