{% extends "base.html" %}
{% block title %} Manage FISH R FRIENDS{% endblock %}

{%block content%}

{%if None in data_list%}

    this is an error we will be working on it!

{%else%}
{% set orders = data_list[0] %}
{% set fishes = data_list[1] %}
{% set promos = data_list[2] %}

{%set fishname_list =[]%}
{% for content in fishes['data']['fishes'] %}
    {% do fishname_list.append(content.fishname) %}
{% endfor %}
<h1 class="text-center">At A Glance</h1>
<table aria-describedby="Order-Table" class="table table-striped table-hover text-center">
    <thead class="thead-dark">
      <tr>
        <th scope="col">Id</th>
        <th scope="col">Total Price</th>
        <th scope="col">Item Breakdown</th>
        <th scope="col">Ordered By</th>
        <th scope="col">Collection Time</th>
      </tr>
    </thead>
    <tbody>
    {% for content in orders['data']['orders'] %}
      <tr>
        <th scope="row">{{content.fish_order_id}}</th>
        <td>{{content.amount}}</td>
        <td>
            Ordered this fishes:
            <br>
            {%for fishes_details in content.order_items%}
            <span class="font-weight-bold">{{fishname_list[fishes_details.fish_id]}} </span>
            <span class="font-weight-bold">Quantity: {{fishes_details.quantity}} </span>
            <br>
            {%endfor%}
        </td>
        <td>{{content.username}}</td>
        <td>{{content.collection_datetime}}</td>
      </tr>
    {% endfor %}
    </tbody>
</table>
        <br>
<table aria-describedby="Fish-Table" class="table table-stripede table-hover text-center">
    <thead class="thead-dark">
    <tr>
        <th scope="col">ID</th>
        <th scope="col">Name</th>
        <th scope="col">Price</th>
        <th scope="col">Quantity</th>
    </tr>
    </thead>
    <tbody>
    {% for content in fishes['data']['fishes'] %}
    <tr>
        <th scope="row">{{content.fish_id}}</th>
        <td>{{content.fishname}}</td>
        <td>${{content.price}}</td>
        <td>{{content.stock_qty}}</td>
    </tr>
    {% endfor %}
    </tbody>
</table>
        <br>
<table class="table table-striped table-hover text-center">
    <thead class="thead-dark">
        <tr>
        <th scope="col">Code</th>
        <th scope="col">Discount</th>
        </tr>
    </thead>
    <tbody>
    {% for content in promos['data']['promotions'] %}
        <tr>
        <th scope="row">{{content.promotion_code}}</th>
        <td>{{content.discount}}%</td>
        </tr>
    {% endfor %}
    </tbody>
</table>
        

{%endif%}


{%endblock%}