{% extends 'MasterBase.html' %}

{% block content %}
    <h1 class="display-4">Book Listing</h1>
        <table id="booksTable" class='table table-striped' border='1'>
            <thead class='thead-dark'>
                <tr>
                    <th>Title</th>
                    <th>ISBN 13</th>
                    <th>Price</th>
                    <th>Availability</th>
                </tr>
            </thead>
        </table>
        <a id="addBookBtn" class="btn btn-primary" 
     href="/">go home</a>
     <script>
        // Helper function to display error message
        function showError(message) {
            // Hide the table and button in the event of error
           // $('#booksTable').hide();
            //$('#addBookBtn').hide();
    
            // Display an error under the main container
            $('#main-container')
                .append("<label>"+message+"</label>");
        }
    
        // anonymous async function 
        // - using await requires the function that calls it to be async
        $(async() => {           
            // Change serviceURL to your own
            var serviceURL = "http://127.0.0.1:5000/fish";
    
            try {
                const response =
                 await fetch(
                   serviceURL, { method: 'GET' }
                );
                const result = await response.json();
                 if (response.status === 200) {
                    // success case
                    var books = result.data.books; //the array is in books within data of 
                                                   // the returned result
                    // for loop to setup all table rows with obtained book data
                    var rows = "";
                    for (const book of books) {
                       eachRow ="<td>" + book.title + "</td>" +
                                "<td>" + book.isbn13 + "</td>" +
                                "<td>" + book.price + "</td>" +
                                "<td>" + book.availability + "</td>";
                       rows += "<tbody><tr>" + eachRow + "</tr></tbody>";
                    }
                    // add all the rows to the table
                    $('#booksTable').append(rows);
                } else if (response.status == 404) {
                    // No books
                    showError(result.message);
                } else {
                    // unexpected outcome, throw the error
                    throw response.status;
                }
            } catch (error) {
                // Errors when calling the service; such as network error, 
                // service offline, etc
                showError
    ('There is a problem retrieving books data, please try again later.<br />' + error);
            } // error
    });
</script>
{% endblock %}
