{% extends "base.html" %}
{% block title %} Manage Promotions{% endblock %}
{%block content%} 
<h1> This is our promotion modification page  Welcome to FISH R FRIENDS</h1>
<ol>
    <li>WE must be able to view promotions</li>
    <li>update promotion details</li>
    <li>remove promotion details</li>
</ol>
<form action="/promomod" method="POST">
<select name="delete_promo">
  {% for activity in p_data['data']['promotions']%}
      <option value="{{ activity.promotion_code }}">{{ activity.promotion_code }}</option>
  {% endfor %}
</select>
<input class="btn" type="submit" value="submit">
</form>

<table class="table table-striped table-hover text-center">
    <thead class="thead-dark">
      <tr>
        <th scope="col">Code</th>
        <th scope="col">Discount</th>
      </tr>
    </thead>
    <tbody>
    {% for content in p_data['data']['promotions'] %}
      <tr>
        <th scope="row">{{content.promotion_code}}</th>
        <td>{{content.discount}}%</td>
      </tr>
    {% endfor %}
    </tbody>
</table>

<form method="POST">
    <h3 align ="center">Post New Promotions</h3>
    <div class ="form-group">
        <label for="promotion_code">promotion_code</label>
        <input 
            type="Text"
            class="form-control"
            id="promotion_code"
            name="promotion_code"
            placeholder="promotion_code"
        />
    </div>
    <div class ="form-group">
        <label for="discount">discount</label>
        <input 
            type="text"
            class="form-control"
            id="discount"
            name="discount"
            placeholder="discount"
        />
    </div>
    <br>
    <button type ="submit" class="btn btn-primary" > Submit </button>
</form>
{%endblock%}